@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    color: white
}

.hamburger-menu:hover :nth-child(2){
    width: 100%;
}

.custom-cursor{
    position: absolute;
    top: 0;
    left: 0;
    
}

.site-wide{
    width: 110px;
    height: 150px;
    background-image: url("cursor icon/cursor\ icon.svg");
    z-index: -1;
}   


.landing-title{
    animation-name: text-ani;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

}

@keyframes text-ani{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1.125);
    }
}

.brand-img{
    height: 750px;
    width: 600px;
}

.brand-photo{
    height: 100%;
    width: 100%;
    background-image: url("Brand img/Brand\ img\ 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.know-more{
    position: relative;
    z-index: 10;
}

.know-more span{
    position:absolute;
    background-color: rgb(255, 255, 255);
    width: 0;
    height: 100%;
    z-index: -10;
    left: 0;
    top: 0;
    border-radius: 0.80rem ;
    transition: ease 0.5s;
}

.know-more:hover span{
    width: 100%;
}

.know-more:hover{
    color: black;
}

/* navbar-styke */
.navbar-items {
    width: 100%;
    height: 100%;
    padding: 2%;
    padding-top: 15vh;
    padding-right: 5vh;
    font-size: xx-large;
    font-weight: 700;
  }
  ul li {
    font-size: 4rem;
    text-align: right;
  }
  
  li:hover {
    color: grey;
  }